* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 36%;
    margin-top: 10%;
    justify-content: center;
}

fieldset {
    border: none;
}
#box {
    background-color: #ECFEFF;
    border: 3px solid black;
    width: 480px;
    padding: 20px;
}
button {
    border: 2px solid black;
    display: inline-block;
    background-color: #15803D;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    padding: 15px;
    border-radius: 15px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    margin-left: 160px;
}
button:hover {
    background-color: #EA580C;
}